*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    scroll-behavior: smooth;
}

a,
a:active {
    text-decoration: none;
}

.footer {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
}